.overlay {
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100vh;
	-webkit-overflow-scrolling: touch;
	overflow-y:scroll;
	z-index:100;
}


.close_overlay {
		width:33px;
		height:33px;
		border-radius: 50%;
		border:2px solid #fff;
		position: absolute;
		top:20px;
		right:0;
		cursor: pointer;
		&:before, &:after {
			content:"";
			display: block;
			width:70%;
			height:2px;
			background: #fff;
			transform-origin: 0px 0px 0;
			transform:rotate(0deg);
			transition: all 400ms cubic-bezier(.17,.66,.34,.98);
			position: absolute;
			top:12px;
			left:4px;
		}
		&:before {
			
		}
		&:after {
			
		}
	}
	
	
	svg#up_arrow {
		 .up_arrow-cls-1 {
        fill: none;
        stroke: #fff;
        stroke-miterlimit: 10;
        stroke-width: 4px;
      }
			.up_arrow-cls-2 {
        fill: #fff;
      }
	}
	
	
	.template_section {
	
	}
	
	.inner_section {
		padding:0 30px;
	}

// content

h1, h2, h3, h4, h5, h6 {
	font-style: normal;
	display: block;
}

h1.section_title {
	color:#fff;
	font-size:23px;
	font-family: $muli;
	font-weight: 600;
	color:#fff;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	line-height: 26px;
}

.content {
	color:#fff;
	font-family: $libre;
	font-size:16px;
	line-height: 23px;
	letter-spacing: 0.075em;
	span.sub_title {
		display: block;
		color:$teal;
		text-transform: uppercase;
		font-size:14px;
		letter-spacing: 0.12em;
		font-family: $oswald;
		font-weight: 600;
		margin-bottom:18px;
	}
	
	h1 {
		font-family: $muli;
		font-weight: 400;
		font-size:32px;
		line-height: 37px;
		margin-bottom:20px;
	}
	p {
		margin-bottom:23px;
	}
	blockquote {
		text-transform: uppercase;
		font-size:18px;
		font-family: $muli;
		font-weight:700;
		letter-spacing: 0.1em;
		line-height: 23px;
		border-top:2px solid $teal;
		border-bottom:2px solid $teal;
		display: block;
		margin:25px 0 32px;
		padding:18px 0;
	}
}


.section_template {
	margin-top:108px;
}

.inner_section {
	h1.section_title {
		text-align: center;
	}
}


a.redeem_button {
	color:#fff;
	margin:40px 0 0;
	text-transform: uppercase;
	font-family: $muli;
	font-weight:400;
	letter-spacing: 0.1em;
	font-size:19px;
	display: inline-block;
	padding:15px 50px;
	border-radius:30px;
	background:$purple_pink;
	position: relative;
	z-index:1;
}



	

