

header {
	width:100%;
	background:$black;
	position: fixed;
	top:0;
	left:0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height:70px;
	padding:0 20px;
	z-index:15;
}



.header_left {
	a.logo {
		display: block;
		svg {
			width:150px;
				.rcm_logo-cls-1 {
					fill: none;
					opacity: 1;
					visibility: visible;
				}
				.rcm_logo-cls-2 {
					clip-path: url(#clip-path);
  			}
				.rcm_logo-cls-3 {
					fill: #ddb263;
   			}
	 			.rcm_logo-cls-4 {
	 				fill: #fff;
   			}
			}
	}
}

.header_right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-grow:1;
}


.contact_icon {
	margin-right:10px;
	cursor: pointer;
	a {
		display: block;
		margin-top:2px;
		svg {
			width:25px;
			height:25px;
			fill:$grey;
		}
	}
}

.notifications_wrapper {
	font-family: $oswald;
	font-weight: 600;
	text-transform: uppercase;
	color:#fff;
	margin-right:20px;
	position: relative;
	cursor: pointer;
	//width:50px;
	span {
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	span.profile_initial {
		color:$white;
		background:$grey;
		width:27px;
		height:27px;
		font-size:16px;
		line-height:16px;
	}
	span.notification_number {
		font-size:12px;
		position: absolute;
		top:-7px;
		right:-12px;
		width:19px;
		height:19px;
		background: $purple_orange;
	}
}

.menu_wrapper {
	width:45px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	cursor: pointer;
	span.menu_bar {
		display: block;
		width:72%;
		height:2px;
		background:$white;
		margin-bottom:5px;
		&:nth-of-type(2) {
			width:100%;
		}
		&:last-of-type {
			margin-bottom:0;
		}
	}
}





header.white_header {
	background: transparent;
	position: absolute;
	.header_left {
		a.logo {
			
			svg {
				
				.rcm_logo-cls-1 {
					fill: none;
				}
				.rcm_logo-cls-2 {
					clip-path: url(#clip-path);
  			}
				.rcm_logo-cls-3 {
					fill: #fff;
   			}
	 			.rcm_logo-cls-4 {
	 				fill: #fff;
   			}
			}
		}
		
	}
	.contact_icon {
		a {
			svg {
				fill:#fff;
			}
		}
	}
	.notifications_wrapper {
		span.profile_initial {
			background:#fff;
			color:#717171;
		}
	}
}





header.sticky_header {
	background: $black;
	position: fixed;
	z-index:16;
	opacity: 0;
	visibility: hidden;
	transition: all 300ms ease-in-out;
}

header.sticky_header.visible {
	opacity: 1;
	visibility: visible;
}



#svg_header {
	position: absolute;
	top:-45px;
	left:0;
	width:100%;
	min-width: 450px;
	svg#header_gradient {
		width:100%;
		height:230px;
	}
}




@media screen and (min-width: 400px) {
	
	
.header_left {
	a.logo {
		svg {
			width:180px;
		}
	}
}
	
	
} /* Media Query */