img#rewards_profile_image {
	width:130px;
	height:130px;
	display: block;
	margin:25px auto 0;
	border-radius: 50%;
	border:3px solid #fff;
	box-shadow: 0px 5px 25px -9px rgba(0,0,0,0.51);
}

#rewards_points_wrapper {
	text-align: center;
	margin:23px 0 0;
	span {
		display: block;
	}
	span#points_total {
		color:#fff;
		font-family: $oswald;
		font-weight:400;
		font-size:25px;
		letter-spacing: 0.04em;
	}
	span#points_title {
		color:$teal;
		font-family: $muli;
		text-transform: uppercase;
		font-weight: 700;
		font-size:15px;
		letter-spacing: 0.16em;
		margin:10px 0 0;
	}
}

.loyalty_feed_wrapper {
	padding-bottom:75px;
}


.loyalty_tabs {
	margin-top:55px;
	display: flex;
	width:100%;
	justify-content: space-between;
	background: $black;
	padding:10px 0 20px;
	span {
		color:#fff;
		text-transform: uppercase;
		font-family: $muli;
		font-weight:600;
		letter-spacing: 0.13em;
		display: block;
		font-size:15px;
		&:after {
			content:"";
			display: block;
			width:100%;
			height:2px;
			background: transparent;
			margin-top:6px;
			opacity: 0;
			transition: opacity 300ms ease-in-out;
		}
	}
	span.active {
		&:after {
			opacity: 1;
			background: $teal;
		}
	}
}

.stuck {
  position:fixed;
  top:14px;
  left:0;
  padding-left:18px;
  padding-right:18px;
  z-index:5;
}



.loyalty_feed {
	margin:10px 0 0;
}


.loyalty_single_row {
	// display: flex;
	margin-bottom:45px;
	a {
		text-decoration: none;
	}
	.loyalty_single_left {
		.loyalty_product_wrapper {
			//width:110px;
			//height:110px;
			width:100%;
			position: relative;
			img {
				width: 100%;
				height:100%;
				display: block;
			}
			.image_overlay {
				position: absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				background: rgba(0,0,0,0.6);
				display: flex;
				justify-content: center;
				align-items: center;
				span {
					color:#fff;
					font-family: $muli;
					font-weight:800;
					font-size: 21px;
					letter-spacing: 0.06em;
				}
			}
		}
	}
	.loyalty_single_right {
		margin:20px 0 0 0px;
		position: relative;
		svg {
			fill:$teal;
			width:23px;
			height:23px;
			position: absolute;
			top:-7px;
			right:0;
		}
		h2 {
			color:$teal;
			font-family: $oswald;
			font-weight: 600;
			font-size:15px;
			line-height: 18px;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			width:100%;
			padding-right: 40px;
		}
		span {
			color:#fff;
			font-size: 14px;
			font-family: $muli;
			line-height: 19px;
			letter-spacing: 0.12em;
			display: block;
			margin-top:11px;
		}
	}
}