.milestone_graph {
	max-width: 380px;
	margin:0 auto;
}

svg#graph_bg {
	width:350px;
	height:220px;
	margin-left:auto;
	margin-right:auto;
	display: block;
}


.graph_numbers {
	display: flex;
	justify-content: space-between;
	margin-top:22px;
	span.graph_number {
		color:#fff;
		font-family: $oswald;
		font-size:14px;
		letter-spacing: 0.08em;
		padding-bottom:5px;
		border-bottom: 2px solid transparent;
		transition: border 200ms ease-in-out;
		span.points {
			font-size:13px;
		}
	}
	span.graph_number.active {
		border-bottom: 2px solid $pink;
	}
}



.graph_points {
	display: flex;
	justify-content: space-between;
	position: relative;
	z-index: 1;
	span.graph_point {
		width:18px;
		height:18px;
		border-radius: 50%;
		background: $pink;
		display: block;
		position: relative;
		box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.22);
		transform: scale(1);
		transition: transform 600ms cubic-bezier(.17,.66,.34,.98);
		display: flex;
		justify-content: center;
		align-items: center;
		&:after {
			opacity: 0;
			transition: all 200ms ease-in-out;
			content:"";
			width:12px;
			height:12px;
			display: block;
			border-radius: 50%;
			background: #fff;
			border-radius: 50%;
		}
		&:first-of-type {
			top: 231px;
			left:7px;
		}
		&:nth-of-type(2) {
			top: 178px;
		}
		&:nth-of-type(3) {
			top: 122px;
		}
		&:nth-of-type(4) {
			top:65px;
		}
		&:nth-of-type(5) {
			top:12px;
			right:7px;
		}
	}
	span.graph_point.active {
		transform: scale(1.2);
		&:after {
			opacity: 1;
			
		}
	}
}


span.graphline {
	display: block;
	width:400px;
	transform-origin: 388px 73px 0;
	height:3px;
	background: $pink;
	transform: rotate(-32.3deg);
}


span.milestone_points_total {
	font-family: $oswald;
	color:#fff;
	text-transform: uppercase;
	font-size:32px;
	display: block;
	margin-bottom:10px;
}


span.milestone_points_title {
	font-family: $muli;
	font-weight: 700;
	color:$pink;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	font-size:16px;
}


.milestone_products_wrapper {
	display: flex;
	align-items: center;
	margin:37px 0 0;
}


.milestone_button {
	width:40px;
	height:20px;
	svg {
		width:20px;
		height:20px;
		fill:#fff;
	}
}


.milestone_left {
	svg {
		transform: rotate(-180deg);
	}
}


.milestone_right {
	display: flex;
	justify-content: flex-end;
	svg {
		
	}
}


.milestone_products_slider {
	width:calc(100% - 80px);
}

.milestone_single_slide {
	text-align: center;
	span {
		display: block;
		font-family: $muli;
		letter-spacing: 0.12em;
		line-height: 19px;
	}
	span.milestone_slide_title {
		color:$pink;
		text-transform: uppercase;
		font-size:15px;
		font-weight: 700;
		margin-bottom:16px;
	}
	span.milestone_slide_description {
		color:#fff;
		font-size: 14px;
	}
}


