img#rewards_profile_image {
	width:130px;
	height:130px;
	display: block;
	margin:25px auto 0;
	border-radius: 50%;
	border:3px solid #fff;
	box-shadow: 0px 5px 25px -9px rgba(0,0,0,0.51);
}

#rewards_points_wrapper {
	text-align: center;
	margin:23px 0 0;
	span {
		display: block;
	}
	span#points_total {
		color:#fff;
		font-family: $oswald;
		font-weight:400;
		font-size:25px;
		letter-spacing: 0.04em;
	}
	span#points_title {
		color:$teal;
		font-family: $muli;
		text-transform: uppercase;
		font-weight: 700;
		font-size:15px;
		letter-spacing: 0.16em;
		margin:10px 0 0;
	}
}

.loyalty_feed_wrapper {
	padding-bottom:55px;
}


.loyalty_tabs {
	margin-top:55px;
	display: flex;
	width:100%;
	justify-content: center;
	background: $black;
	padding:10px 0 20px;
	span.tab {
		color:#fff;
		text-transform: uppercase;
		font-family: $muli;
		font-weight:600;
		letter-spacing: 0.13em;
		display: block;
		font-size:16px;
		display: block;
		padding-bottom:8px;
		border-bottom:2px solid transparent;
		transition: border 200ms ease-in-out;
	}
	span.divider {
		width:2px;
		height:16px;
		display:block;
		background: $grey;
		margin:0 20px;
	}
	span.active {
		border-bottom:2px solid $teal;
	}
}

.stuck {
  position:fixed;
  top:14px;
  left:0;
  padding-left:18px;
  padding-right:18px;
  z-index:5;
}



.loyalty_feed {
	margin:30px 0 0;
}


.loyalty_single_row {
	
	margin-bottom:45px;
	a {
		text-decoration: none;
		display: flex;
	}
	.loyalty_single_left {
		.loyalty_product_wrapper {
			width:110px;
			height:110px;
			//width:100%;
			position: relative;
			img {
				width: 100%;
				height:100%;
				display: block;
			}
			.image_overlay {
				position: absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				background: rgba(0,0,0,0.6);
				display: flex;
				justify-content: center;
				align-items: center;
				span {
					color:#fff;
					font-family: $muli;
					font-weight:800;
					font-size: 17px;
					letter-spacing: 0.06em;
				}
			}
		}
	}
	.loyalty_single_right {
		margin:0px 0 0 20px;
		position: relative;
		svg {
			fill:$teal;
			width:23px;
			height:23px;
			position: absolute;
			top:-7px;
			right:0;
		}
		h2 {
			color:$teal;
			font-family: $oswald;
			font-weight: 600;
			font-size:15px;
			line-height: 18px;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			width:100%;
			padding-right: 40px;
		}
		h2.redeemed {
			color:$grey;
		}
		span {
			display: block;
			font-size: 14px;
			font-family: $muli;
			line-height: 19px;
			letter-spacing: 0.12em;
		}
		span.loyalty_description {
			color:#fff;
			margin-top:11px;
		}
	}
}