.single_graph_wrapper {
	width:230px;
	height:230px;
	position: relative;
	margin:42px auto 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	svg#graph {
		width:230px;
		height:230px;
		position: absolute;
		top:0;
		left:0;
	}
	svg#weed_icon {
		width:95px;
		height:85px;
		margin-top:50px;
	}
	span.more_to_go {
		color:#fff;
		text-transform: uppercase;
		font-family: $muli;
		font-weight: 600;
		font-size:14px;
		letter-spacing: 0.12em;
		display: block;
		margin-top:17px;
	}
	span.count {
		color:#fff;
		text-transform: uppercase;
		font-family: $muli;
		font-weight: 600;
		font-size:14px;
		letter-spacing: 0.12em;
		display: block;
		margin-top:55px;
	}
}

