img#rewards_profile_image {
	width:130px;
	height:130px;
	display: block;
	margin:25px auto 0;
	border-radius: 50%;
	border:3px solid #fff;
	box-shadow: 0px 5px 25px -9px rgba(0,0,0,0.51);
}

/*
#rewards_points_wrapper {
	text-align: center;
	margin:23px 0 0;
	span {
		display: block;
	}
	span#points_total {
		color:#fff;
		font-family: $oswald;
		font-weight:400;
		font-size:25px;
		letter-spacing: 0.04em;
	}
	span#points_title {
		color:$teal;
		font-family: $muli;
		text-transform: uppercase;
		font-weight: 700;
		font-size:15px;
		letter-spacing: 0.16em;
		margin:10px 0 0;
	}
}
*/

.loyalty_welcome_description {
	font-family: $muli;
	text-align: center;
	margin:23px 0 0;
	letter-spacing: 0.12em;
	line-height: 19px;
	color:#fff;
	font-size: 14px;
	max-width:270px;
	margin-left:auto;
	margin-right:auto;
}

a.loyalty.rewards {
	margin-top:25px;
}

a.loyalty.milestone {
	margin-top:25px;
}


.tab_close {
	position: absolute;
	top:21px;
	left:20px;
	transform: translateX(-30px);
	opacity: 0;
	transition: transform 650ms cubic-bezier(.17,.66,.34,.98), opacity 400ms linear;
	svg#overlay_arrow {
		width:20px;
		height:20px;
		.overlay-arrow-cls-1 {
  		fill: #fff;
  		transition: fill 200ms ease-in-out;
  	}
	}
}

.tab_close.open {
	transform: translateX(0px);
	opacity: 1;
	transition-delay: 700ms;
}


.tab_close.rewards {
	svg#overlay_arrow {
		width:20px;
		height:20px;
		.overlay-arrow-cls-1 {
  		fill: $teal;
  	}
	}
}

.tab_close.milestone {
	svg#overlay_arrow {
		width:20px;
		height:20px;
		.overlay-arrow-cls-1 {
  		fill: $pink;
  	}
	}
}


.loyalty_tabs {
	margin:0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0 12px;
	position: fixed;
	top:69px;
	background:$darkgrey;
	left:0;
	width:100%;
	border-bottom:1px solid $grey;
	z-index:11;
	transform: translateX(100%);
	transition: transform 600ms cubic-bezier(.17,.66,.34,.98);
	transition-delay: 200ms;
	border-bottom:1px solid $grey;
	a.tab {
		color:#fff;
		text-transform: uppercase;
		font-family: $muli;
		font-weight:600;
		letter-spacing: 0.13em;
		display: block;
		font-size:15px;
		display: block;
		text-decoration: none;
		padding-bottom:6px;
		border-bottom:1px solid transparent;
		transition: border 200ms ease-in-out, opacity 500ms linear;
		opacity: 0;
	}
	span.divider {
		width:1px;
		height:25px;
		display:block;
		background: $grey;
		margin:0 20px;
		opacity: 0;
		transition:opacity 300ms linear;
	}
	a.rewards.active {
		border-bottom:1px solid $teal;
	}
	a.milestone.active {
		border-bottom:1px solid $pink;
	}
}




.loyalty_feed_wrapper {
	padding-bottom:55px;
	background: $darkgrey;
	position: fixed;
	top:70px;
	left:0;
	width:100%;
	height:100%;
	z-index: 10;
	overflow-y: scroll;
	padding-top:60px;
	transform: translateX(100%);
	transition: all 600ms cubic-bezier(.17,.66,.34,.98);
	transition-delay: 200ms;
	-webkit-overflow-scrolling: touch;
}

.loyalty_tabs.open, .loyalty_feed_wrapper.open {
	transform: translateX(0%);
}

.loyalty_tabs.open {
	a.tab, span.divider {
		opacity: 1;
		transition-delay: 0ms, 700ms;
	}
}



.loyalty_feed {
	margin:0;
	padding:0 20px;
	position: absolute;
	top:90px;
	left:0;
	width:100%;
	transform: translateY(-45px);
	opacity: 0;
	visibility: hidden;
	transition: transform 800ms cubic-bezier(.17,.66,.34,.98), opacity 400ms linear, visibility 400ms linear;
}

.loyalty_feed.rewards.open, .loyalty_feed.milestone.open {
	transform: translateY(0px);
	opacity: 1;
	visibility: visible;
	transition-delay: 700ms;
}



.loyalty_single_row {
	margin-bottom: 27px;
	a {
		text-decoration: none;
		display: flex;
	}
	.loyalty_single_left {
		.loyalty_product_wrapper {
			width:110px;
			height:110px;
			position: relative;
			img {
				width: 100%;
				height:100%;
				display: block;
			}
			.image_overlay {
				position: absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				background: rgba(0,0,0,0.6);
				display: flex;
				justify-content: center;
				align-items: center;
				span {
					color:#fff;
					font-family: $muli;
					font-weight:600;
					font-size: 16px;
					letter-spacing: 0.08em;
					text-transform: uppercase;
					display: block;
					text-align: center;
					line-height: 16px;
					span {
						font-size: 13px;
						margin-top:2px;
						letter-spacing: 0.12em;
					}
				}
			}
		}
	}
	.loyalty_single_right {
		margin:0px 0 0 20px;
		position: relative;
		svg {
			fill:$teal;
			width:23px;
			height:23px;
			position: absolute;
			top:-7px;
			right:0;
		}
		h2 {
			color:$teal;
			font-family: $muli;
			font-weight: 700;
			font-size:15px;
			line-height: 18px;
			text-transform: uppercase;
			letter-spacing: 0.12em;
			width:100%;
			padding-right: 40px;
			margin-top:4px;
		}
		h2.redeemed {
			color:$grey;
		}
		span {
			display: block;
			font-size: 14px;
			font-family: $muli;
			line-height: 19px;
			letter-spacing: 0.12em;
		}
		span.loyalty_description {
			color:#fff;
			margin-top:11px;
		}
	}
}