#shop {
	position:relative;
	z-index:1;
}


.svg_header {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	svg#header_gradient {
		width:100%;
		height:230px;
	}
}


.shop_input_wrapper {
	margin:16px auto 0;
	max-width:320px;
	position: relative;
	input {
		border:none;
		color:#222;
		font-family: $muli;
		font-weight:600;
		width:100%;
		border-radius: 25px;
		font-size:14px;
		padding:15px 60px 15px 20px;
	}
	.search_settings {
		position: absolute;
		top: 12px;
    right: 28px;
		svg {
			width:20px;
			height:25px;
		}
	}
}



.product_feed {
	margin:63px 0 0;
	padding:0 25px;
}


.product_row {
	
}


.product_category_wrapper {
	display: flex;
	justify-content: space-between;
	span.product_category {
		color:$bluelight;
		text-transform: uppercase;
		font-size:15px;
		letter-spacing: 0.1em;
		font-family: $oswald;
		font-weight:600;
		margin-left:5px;
	}
	span.see_all {
		color:$bluelight;
		font-family: $muli;
		font-weight:600;
		font-size:14px;
		letter-spacing: 0.04em;
	}
}


.product_inner_row {
	display: flex;
	margin-top:10px;
}

.single_product {
	flex-basis:200px;
	
	
	.product_img_wrapper {
		height:155px;
		img {
			max-width:100%;
			height:auto;
			display: block;
			border-radius: 10px;
		}
	}
}