#shop {
	position:relative;
	z-index:1;
	h1 {
		text-align: center;
		font-size: 20px;
	}
}




.shop_input_wrapper {
	margin: 10px auto 0;
	max-width:320px;
	position: relative;
	input {
		border:none;
		color:#222;
		font-family: $muli;
		font-weight:600;
		width:100%;
		border-radius: 25px;
		font-size:14px;
		padding:13px 60px 13px 20px;
	}
	.search_settings {
		position: absolute;
		top: 11px;
    right: 28px;
		svg {
			width:19px;
			height:23px;
		}
	}
}



.product_feed {
	margin:63px 0 0;
}


.product_row {
	margin-bottom:15px;
}


.product_category_wrapper {
	display: flex;
	justify-content: space-between;
	padding:0 25px;
	span.product_category {
		color:$bluelight;
		text-transform: uppercase;
		font-size:15px;
		letter-spacing: 0.1em;
		font-family: $oswald;
		font-weight:600;
		margin-left:5px;
	}
	span.see_all {
		color:$bluelight;
		font-family: $muli;
		font-weight:600;
		font-size:14px;
		letter-spacing: 0.04em;
	}
}


.product_inner_row {
	display: flex;
	margin-top:10px;
	overflow-x: scroll;
	padding-bottom:25px;
	-webkit-overflow-scrolling: touch;
}

.single_product {
	flex-basis:200px;
	flex-shrink:0;
	margin-right:5px;
	&:first-of-type {
		margin-left:25px;
	}
	.product_img_wrapper {
		height:155px;
		position: relative;
		img {
			max-width:100%;
			height:auto;
			display: block;
			border-radius: 10px;
		}
		.see_more_icon {
			width:21px;
			height:21px;
			border-radius: 50%;
			border:2px solid $bluelight;
			position: absolute;
			top:10px;
			right:10px;
			&:before {
				content:"+";
				color:$bluelight;
				font-family: $muli;
				font-weight:900;
				font-size:20px;
				position: absolute;
				line-height: 17px;
				top:-2px;
				left:2px;
			}
		}
	}
	span {
		display: block;
		font-family: $muli;
		font-weight:600;
		font-size:15px;
		letter-spacing: 0.04em;
		margin-bottom:5px;
	}
	span.product_price {
		color:$bluelight;
		margin-top:12px;
	}
	span.product_name {
		color:#fff;
	}
	span.company_name {
		color:$grey;
	}
}


