#single_product {
	position: relative;
	z-index:1;
	
}

.single_product_wrapper {
	padding: 0 38px 30px;
}

.back_to_shop_wrapper {
	max-width:200px;
	position: relative;
	text-align: center;
	margin:0 auto;
	a {
		text-decoration: none;
	}
	span.circle_button.back_to_shop {
		width:27px;
		height:27px;
		border-radius: 50%;
		background:$purple_orange;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		animation-name: single_product_button_scroll;
		animation-duration: 1900ms;
		animation-fill-mode: both;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		position: absolute;
		top:-4px;
		left:0;
		svg {
			width:15px;
			height: 11px;
			margin-left:-3px;
			transform: rotate(-90deg);
		}
	}
	span.back_to_shop_title {
		color:#fff;
		text-transform: uppercase;
		font-family: $muli;
		font-weight:600;
		font-size: 16px;
		letter-spacing: 0.08em;
		margin-left:13px;
	}	
}


	
	
@keyframes single_product_button_scroll {
  0 {
    transform: translateX(-4px);
  }
	50% {
   transform: translateX(4px);
  }
  100% {
	  transform: translateX(0px);
  }
}



.single_product_image {
	width:100%;
	max-width:240px;
	margin:20px auto 0;
	img {
		max-width:100%;
		height:auto;
		display: block;
		border-radius: 13px;
	}
}

.single_product_info {
	margin:52px 0 0;
}

	.single_product_meta {
		display: flex;
		flex-wrap:wrap;
		justify-content: space-between;
		h1 {
			color:$bluelight;
			font-family: $oswald;
			font-weight: 600;
			font-size: 19px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
		}
		span.single_product_price {
			color:#fff;
			font-family: $muli;
			font-weight: 700;
			font-size: 20px;
			letter-spacing: 0.04em;
			margin-top:2px;
			
		}
		span.single_product_company_name {
			font-size: 15px;
			color:$grey;
			font-family: $muli;
			font-weight: 600;
			letter-spacing: 0.04em;
			flex-basis: 100%;
			margin-top:3px;
		}
	}
	
	
	.single_product_content {
		color:#fff;
		font-family: $muli;
		font-weight: 600;
		font-size: 15px;
		line-height: 21px;
		letter-spacing: 0.04em;
		display: block;
		margin-top:18px;
		margin-bottom:15px;
		p {
			margin-bottom:25px;
		}
		h2 {
			color:$bluelight;
			font-family: $muli;
			font-weight: 700;
			font-size: 16px;
			letter-spacing: 0.05em;
			display: block;
			margin-bottom: 2px;
		}
	}
	
	
	.ratings {
		padding-top:10px;
		margin-bottom:25px;
		ul {
			list-style: none;
			li {
				display: block;
				background: $grey;
				border-radius: 30px;
				text-transform: lowercase;
				font-weight: 400;
				font-size: 14px;
				padding:6px 15px;
				margin-bottom:8px;
				&:nth-of-type(1) {
					
				}
				&:nth-of-type(2) {
					max-width:85%;
				}
				&:nth-of-type(3) {
					max-width:65%;
				}
				&:nth-of-type(4) {
					max-width: 45%
				}
			}
		}
	}
	
	
	.single_product_review_wrapper {
		margin-top:15px;
		.single_product_review {
			border-bottom:1px solid $grey;
			padding-bottom:17px;
			margin-bottom:17px;
			span.single_product_review_name {
				color:$grey;
				display: block;
				margin-bottom:8px;
				font-weight: 700;
			}
		}
	}

	
	.rating_icons {
		display: flex;
		margin-top:-10px;
		div {
			margin:0 4px 0 0;
		}
		.rating_active {
			svg {
				.weed_icon-cls-1 {
					fill:$bluelight;
				}
			}
		}
		svg {
			width:30px;
			height:30px;
			.weed_icon-cls-1 {
				fill:$grey;
			}
		}
	}
	
	span.see_all_reviews {
		color:$bluelight;
		font-size:13px;
		letter-spacing: 0.05em;
	}
	
	
	.related_products {
		position: relative;
		overflow: hidden;
		padding-bottom:25px;
		&:after {
			content:"";
			background: $darkgrey;
			width:100%;
			height:600px;
			position: absolute;
			top:0;
			left:0;
			clip-path: polygon(100% 5%, 100% 100%, 0 100%, 0 21%);
		}
		.related_products_inner {
			position: relative;
			z-index: 1;
			span.shop_title {
				text-align: center;
				font-size: 23px;
				display: block;
				font-family: $muli;
				font-weight: 600;
				color: #fff;
				text-transform: uppercase;
				letter-spacing: 0.08em;
				line-height: 26px;
				margin-top:5px;
		}
	}
}


.add_to_cart_wrapper {
	width:100%;
	height:55px;
	background:$teal_blue;
	position: fixed;
	bottom:0;
	left:0;
	z-index:5;
	cursor: pointer;
	.add_to_cart_inner {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		height:100%;
		span {
			color:#fff;
			text-transform: uppercase;
			font-family: $muli;
			font-weight:800;
			letter-spacing: 0.1em;
			font-size:15px;
			display: none;
		}
		span.add_to_cart_title {
			display: block;
		}
		span.added {
		
		}
		span.checkout {
		
		}
	}
}




.checkout_amount {
	background: $teal;
	width:35px;
	height:35px;
	border-radius: 50%;
	position: absolute;
	top:9px;
	right:15px;
	transform: translateY(-25px);
	opacity: 0;
	transition: transform 1000ms cubic-bezier(.17,.66,.34,.98), opacity 300ms linear;
	div {
		color:#fff;
		font-family: $oswald;
		font-weight:600;
		font-size: 15px;
		margin:9px 0px 0 6px;
	}
}


.checkout_amount.added {
	transform: translateY(0);
	opacity: 1;
	transition-delay: 950ms;
}
