#single_product {
	position: relative;
	z-index:1;
}

.back_to_shop_wrapper {
	max-width:200px;
	position: relative;
	text-align: center;
	margin:0 auto;
	a {
		text-decoration: none;
	}
	span.circle_button.back_to_shop {
		width:27px;
		height:27px;
		border-radius: 50%;
		background:$purple_orange;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		animation-name: single_product_button_scroll;
		animation-duration: 1900ms;
		animation-fill-mode: both;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		position: absolute;
		top:-4px;
		left:0;
		svg {
			width:15px;
			height: 11px;
			margin-left:-3px;
			transform: rotate(-90deg);
		}
	}
	span.back_to_shop_title {
		color:#fff;
		text-transform: uppercase;
		font-family: $muli;
		font-weight:600;
		font-size: 16px;
		letter-spacing: 0.08em;
		margin-left:13px;
	}	
}


	
	
@keyframes single_product_button_scroll {
  0 {
    transform: translateX(-4px);
  }
	50% {
   transform: translateX(4px);
  }
  100% {
	  transform: translateX(0px);
  }
}



.single_product_image {
	width:100%;
	max-width:240px;
	margin:20px auto 0;
	img {
		max-width:100%;
		height:auto;
		display: block;
		border-radius: 13px;
	}
}

.single_product_info {
	margin:52px 0 0;
}

	.single_product_meta {
		display: flex;
		flex-wrap:wrap;
		justify-content: space-between;
		h1 {
			color:$bluelight;
			font-family: $oswald;
			font-weight: 600;
			font-size: 19px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
		}
		span.single_product_price {
			color:#fff;
			font-family: $muli;
			font-weight: 700;
			font-size: 20px;
			letter-spacing: 0.04em;
			margin-top:2px;
			
		}
		span.single_product_company_name {
			font-size: 15px;
			color:$grey;
			font-family: $muli;
			font-weight: 600;
			letter-spacing: 0.04em;
			flex-basis: 100%;
			margin-top:3px;
		}
	}
	
	
	.single_product_content {
		color:#fff;
		font-family: $muli;
		font-weight: 600;
		font-size: 15px;
		line-height: 21px;
		letter-spacing: 0.04em;
		display: block;
		margin-top:18px;
		margin-bottom:15px;
		p {
			margin-bottom:25px;
		}
		h2 {
			color:$bluelight;
			font-family: $muli;
			font-weight: 700;
			font-size: 16px;
			letter-spacing: 0.05em;
			display: block;
			margin-bottom: 2px;
		}
	}
	
	
	.ratings {
		padding-top:10px;
		ul {
			list-style: none;
			li {
				display: block;
				background: $grey;
				border-radius: 30px;
				text-transform: lowercase;
				font-weight: 400;
				font-size: 14px;
				padding:7px 15px;
				margin-bottom:7px;
			}
		}
	}


