// colors

$black: #0d2021;
$white: #fff;
$grey: #384c60;

// gradients

$purple_orange: linear-gradient(135deg, #be59ca 0%,#e4512d 100%);

$teal_blue: linear-gradient(135deg, #00adc5 0%,#4174be 100%); 

// fonts

$oswald: 'Oswald', sans-serif;

// semibold 600

$muli: 'Muli', sans-serif;

// reg 400, semi-bold 600, bold 700

